<%- include("partials/header") -%>
<main>
    <% lista.forEach((post)=>{ %>
        <section>
            <form action="/deletar" method="post">
                <button name="deletar" value="<%= post._id %>" type="submit">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
            <h2><%= post.titulo %></h2>
            <p class="paragrafo"><%= post.paragrafo %></p>
            <form action="/visualizar" method="post">
                <button name="visualizar" value="<%= post._id %>" type="submit">
                    Ler mais...
                </button>
            </form>
        </section>
    <% }) %>
</main>
<%- include("partials/footer") -%>